/* hero section */

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#counter .col-md-4 {
  text-align: center;
  border-right: 1px dashed black;
}

#counter .col-md-4:last-child {
  border-right: 0px solid black;
}

#counter .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

i {
  font-size: 20px !Important;
}

/* @media (max-width: 991px) {
    #counter .col-md-4 {
    border-right: 0px dashed black;
    border-bottom: 1px dashed black;
    margin: auto auto;
  }
  
#counter .col-md-4:last-child {
    border-bottom: 0px dashed black;
  }
} */

#hero-full
{
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* #about
{
    background-image: url(https://mdbootstrap.com/img/Photos/Others/images/78.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

#ads
{
    background-image: url("../images/donate-now.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#missionVision
{
    background: linear-gradient(-70deg, #FFFF 60%, rgba(0, 0, 0, 0) 60%), url("../images/proj/mission_vision.png");
}

#viSion
{
  background: linear-gradient(-70deg, #EC872A 60%, rgba(0, 0, 0, 0) 60%);
}

#whyUs
{
  background: linear-gradient(-70deg, #fff 60%, rgba(236, 135, 42, 1) 0%);
}

#brigadaDonate
{
  background: linear-gradient(-70deg, #fff 60%, rgba(63, 149, 56, 1) 0%);
}

#callToAction
{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.815)), url("../images/proj/calltoaction.jpg") center center no-repeat;

/*  below values are optional */
 	background-attachment:fixed;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
}



/* nav */
ul
{
  padding:0;
}

ul li
{
  list-style:none;
}

/* custom color */
.bg-orange
{
    background-color: #EC872A !important;
}

.text-orange
{
    color: #EC872A !important;
}

.bg-green
{
    background-color: #3F9538 !important;
}

.text-green
{
    color: #3F9538 !important;
}

.swiper-wrapper
{
  transition-timing-function: linear;
}



@media (max-width: 991px) {
  #mission, #vission, #circle, #findOutBtn
  {
    margin-left: 0 !important;
    transition: ease;
  }

  #missionVision
  {
      background: #ffff;
  }
  
  #projects .img-fluid
  {
    height: 100% !important;
    object-fit: cover;
  }
}

@media (max-width: 572px) {

  #circle
  {
    width:360px !important;
    height: 360px !important;
    margin: auto;
  }

  #mission, #vission, #circle, #findOutBtn
  {
    margin-left: 0 !important;
    transition: ease;
  }

  #missionVision
  {
      background: #ffff;
  }

  hr
  {
    margin:auto;
  }

}

